@font-face{
    font-family: 'WillandGrace';
    src: url('Fonts/WILLG___.TTF');
}

 .app{
    overflow-x: hidden;
    max-width: 100vw;
 } 

.nav {
    background-color: #c29997;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center;
}

.nav-social-media{
    display: flex;
    gap: 10px;
    align-items: center;
}

.img-logo-nav{
    height: 25px;
}


.social-img{
    width: 30px;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.main-img-container{
    flex: 2;
    display: flex;
    justify-content: center;
    width: 60%;
}

.main-img{
    width: 100%;
    
}

.main-2-container{
    width: 40%;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.img-p2{
    height: 170px;
}

.sch-img-cont{
    display: flex;
    justify-content: center;
}

.schedule-img{
    width: 290px;
}



.service-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}


/* grid */

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    
}

.grid-wrapper {
    overflow: hidden;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3); 
    grid-template-rows: repeat(2, 460px);
    gap: 40px;
    transition: transform .5s ease-in-out; 
    grid-template-areas: 
        "a a a a a a a"
        "b b b b b b ."; 
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46vh;
    width: 28vw;

}

.grid-img {
    height: 46vh;
    width: 28vw;
    box-sizing: border-box;
}

button{
    border: none;
    background-color: #ffff;
}

.btn-img{
    width: 30px;
}

.btn-img:hover{
    transform: scale(1.3);
    transition: transform 0.5s ease; 
    cursor: pointer;
}


.promo-text-container{
    color: #ffff;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 385px;
    background-color: #b3b296;
    font-family: 'WillandGrace';
}

.promo-text-img{
    height: 100px;
    padding-top: 35px;
}

.p-text{
    font-size: 60px;
    margin: 0;
}

/* opinion header */

.opinions-header{
    
    background-color: #c29997;
    margin: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f2eadd;
    font-family: 'times regular';
    font-style: italic;
    font-weight: 600;
    letter-spacing: 5px;
}

.opinions-text{
    margin: 0;
    font-size: 35px;
}

/* opinion form */

.opinions-container{
    display: flex;
    flex-direction: column;
}

.name {
    font-weight: 500;
}


.opinion-header{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 35px;
    font-family: 'times regular';
}

.opinion{
    font-family: 'times regular';
    border-bottom: solid 1px gray;
}

.comment{
    font-family: 'times regular';
    font-size: 30px;
    margin-left: 60px;

}

.used-services{
    font-family: 'times regular';
    font-size: 30px;
    margin-left: 60px;
    color: gray
}